# top-most EditorConfig file
root = true

# Newline ending and strip EOL whitespace on every file
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Indenting
[*.{html,js,css}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

# No indenting on other file types
