:root {
  --space: 0.5em;
}

* {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}

/* Tables will be removed */
table {
  border-collapse: collapse;
}

th, td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

th {
  text-align: center;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}

ol ol {
  list-style-type: lower-roman;
}

summary, .warning {
  background-color: #ffba36;
}

.error {
  background-color: #f56600;
}

/* Progressively indent nested levels in menu */
details details {
  margin-left: 1ch;
}

/* Unformatted list */
#fields ul {
  list-style-type:none;
  padding: 0;
}

button {
  align-self: stretch;
}

select {
  vertical-align: middle;
}

/* Allow fieldset to shrink beyond minimum content size */
fieldset {
  min-width: 0;
  margin-bottom: 2ex;
}

summary + fieldset {
  margin-top: 2ex;
}

fieldset > ul {
  margin-top: 0ex;
}

fieldset > ul:last-child {
  margin-bottom: 0ex;
}

/* Keep group of buttons on same line as far as possible */
.btnGroup {
  display: inline-flex;
  flex-wrap: wrap;
}

.btnGroup > * {
  flex: auto;
  margin-right: var(--space); /* One space */
}

.autoOrder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 35ch) {
  .autoOrder {
    flex-wrap: nowrap;
  }
}

.fieldList li {
  margin-bottom: 2ex;
}

/* Use long compact lines on large screens, otherwise space out with many line breaks */
.fieldList li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2ex;
}

@media (min-width: 76ch) {
  .fieldList li {
    flex-wrap: nowrap;
    margin-bottom: initial;
  }
}

/* Labels are fixed width to align contents nicely - still won't exceed page width */
.fieldList li > label {
  width: 15ch;
  flex: none;
}

/* Buttons and input fields after label arranged into nice block where input expands to fill space */
.inputBlock {
  width: 28ch;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 36ch) {
  .inputBlock {
    flex-wrap: nowrap;
  }
}

/* Sub-flex box to keep unit on same line as input */
.inputBlock .withUnit {
  min-width: 0;
  flex: auto;
  display: inline-flex;
}

.inputBlock input, .inputBlock select {
  flex: auto;
}

.inputBlock .noStretch {
  flex: initial;
}

.inputBlock input:not([type="checkbox"]) {
  min-width: 6ch;
}

.inputBlock > *, .autoOrder > *, .withUnit > * {
  margin-right: var(--space);
}

.withUnit > *:last-child {
  margin-right: 0;
}

.autoBtnList li {
  margin-bottom: 2ex;
  align-items: center;
}

.autoBtnList li > * {
  display: block;
}

.autoBtnList span {
  width: 10ch;
  flex: none;
}

@media (min-width: 41ch) {
  .autoBtnList li {
    margin-bottom: initial;
    display: flex;
  }

  .autoBtnList li > * {
    margin-right: var(--space);
  }
}

/* Keep tick box label as a multiline to right of tick box */
.tickRow {
  display: inline-flex;
}

.tickRow > input {
  margin-right: var(--space);
}

.tickRow > button {
  margin-left: var(--space);
}

#ppenStatus {
  margin-bottom: 2ex;
}
