body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

th, td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

th {
  text-align: center;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}

summary, .warning {
  background-color: #f5d2b8;
}

ol ol {
  list-style-type: lower-roman;
}

.error {
  background-color: #f56600;
}

#fields ul {
  list-style-type:none;
  padding: 0;
}

button {
  align-self: stretch;
}

select {
  vertical-align: middle;
}

fieldset {
  margin-bottom: 2ex;
}

fieldset > ul {
  margin-top: 0ex;
}

fieldset > ul:last-child {
  margin-bottom: 0ex;
}

.btnGroup {
  display: inline-block;
}

.fieldList li, .autoOrder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2ex;
}

@media (min-width: 60ch) {
  .fieldList li {
    flex-wrap: nowrap;
    margin-bottom: initial;
  }
}

@media (min-width: 32ch) {
  .autoOrder {
    flex-wrap: nowrap;
  }
}

.fieldList li > label {
  width: 13ch;
  flex: 0 0 auto;
  display: inline-block;
}

.inputBlock {
  width: 24ch;
  flex: 0 1 auto;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 31ch) {
  .inputBlock {
    flex-wrap: nowrap;
  }
}

.inputBlock input, .inputBlock select, .errorMsg {
  flex: 1 1 auto;
}

.inputBlock input:not([type="checkbox"]) {
  min-width: 6ch;
}

.inputBlock > *, .autoOrder > *, .cm::after {
  display: inline-block;
  margin-right: 1ch;
}

.cm::after {
  content: "cm";
}

.autoBtnList li {
  margin-bottom: 2ex;
  align-items: center;
}

.autoBtnList li > * {
  display: block;
}

.autoBtnList span {
  width: 10ch;
  flex: 0 0 auto;
}

@media (min-width: 41ch) {
  .autoBtnList li {
    margin-bottom: initial;
    display: flex;
  }

  .autoBtnList li > * {
    display: inline-block;
    margin-right: 1ch;
  }
}

#selectForPrint {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2ex;
}

#selectForPrint fieldset {
  flex: 1 1 auto;
}
