body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

th, td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

th {
  text-align: center;
}
/*
input.layoutLength {
/*Good for parameters with 1dp up to value of 99; 1ch = width of character 0
width: 7ch;
}

input.coordinate {
width: 20ch;
}

.pageNum {
width: 5ch;
}

#numTasks {
width: 4ch;
}

#heading, #mapScale {
width: 8ch;
}

#contourInterval {
width: 6ch;
}
*/
.centre {
  text-align: center;
}

.right {
  text-align: right;
}

summary, .warning {
  background-color: #f5d2b8;
}

.error {
  background-color: #f56600;
}

#fields ul {
  list-style-type:none;
  /*  margin:  0;*/
  padding: 0;
}

select {
  vertical-align: middle;
}

.btnGroup {
  display: inline-block;
}

.fieldList li {
  display: flex;
  align-items: center;
}

@media (max-width: 60ch) {
  .fieldList li {
    flex-wrap: wrap;
    margin-bottom: 2ex;
  }
}

.fieldList li > label {
  width: 13ch;
  flex: 0 0 auto;
  display: inline-block;
}

.inputBlock {
  width: 24ch;
  flex: 0 1 auto;
  display: inline-flex;
  align-items: center;
}

@media (max-width: 31ch) {
  .inputBlock {
    flex-wrap: wrap;
  }
}

.inputBlock input, .inputBlock select, .errorMsg {
  display: inline-block;
  flex: 1 1 auto;
}

.inputBlock input:not([type="checkbox"]) {
  min-width: 6ch;
}

.inputBlock > * {
  margin-right: 1ch;
}

.inputBlock button {
  margin-left: 1ch;
}
